@charset "UTF-8";
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #5e24dc;
    --main-lighter-color: #e7defa;
    --main-light-color: #dacdf7;
    --main-dark-color: #2b1066;
    --alternate-color: #7e7c84;
    --alternate-lighter-color: #ecebec;
    --alternate-light-color: #e2e1e3;
    --confirm-color: #1ebb4f;
    --confirm-lighter-color: #defae7;
    --confirm-light-color: #cdf7da;
    --attention-color: #dcba24;
    --attention-lighter-color: #faf5de;
    --attention-light-color: #f7efcd;
    --cancel-color: #dc5e24;
    --cancel-lighter-color: #fae7de;
    --cancel-light-color: #f7dacd;
    --light-color: #ebebeb;
    --neutral-color: #a8a8a8;
    --dark-color: #323232;
    --hover-brightness: 85%;
}

body,
textarea {
    font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2 {
    color: var(--main-dark-color);
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

kbd {
    border-radius: 3px;
    background-color: var(--main-dark-color);
    color: white;
    padding: 2px 5px;
}

.form {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    transition: box-shadow .2s, filter .2s ease-in-out;
}

.form:hover {
    filter: brightness(90%);
}

.form:active {
    filter: brightness(40%);
    -webkit-box-shadow: 0 2px 4px 0 rgb(50, 50, 50, 13%);
    -moz-box-shadow: 0 2px 4px 0 rgb(50, 50, 50, 13%);
    box-shadow: 0 2px 4px 0 rgb(50, 50, 50, 13%);
}

.form:focus {
    box-shadow: 0 0 0 .2rem var(--neutral-color);
}

.code>pre {
    background-color: var(--main-dark-color);
    color: white;
    padding: 15px;
    border-radius: 6px;
    overflow: auto;
}

.code>.lang {
    background-color: var(--main-dark-color);
    color: white;
    border-radius: 6px 6px 0 0;
    padding: 6px;
    font-weight: 500;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-auto {
    flex: 0 0 auto;
    width: auto
}

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%
}

.col-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}

.col-6 {
    flex: 0 0 auto;
    width: 48%;
    margin: 5px 3px;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%
}

.col-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

.btn {
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 9px 15px;
    background-color: var(--dark-color);
    color: var(--light-color);
    cursor: pointer;
    margin: 2px;
    font-weight: 500;
    transition: box-shadow .2s, filter .2s;
    -webkit-box-shadow: 0 2px 4px 0 rgb(50, 50, 50, 13%);
    -moz-box-shadow: 0 2px 4px 0 rgb(50, 50, 50, 13%);
    box-shadow: 0 2px 4px 0 rgb(50, 50, 50, 13%);
}

.btn:hover {
    filter: brightness(85%);
}

.btn:disabled {
    filter: brightness(55%);
    cursor: default;
    box-shadow: 0;
}

.btn:active {
    filter: brightness(40%);
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem var(--neutral-color);
}

div.main {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.btn-main {
    background-color: var(--main-color);
}

.btn-main:focus,
.btn-main-outline:focus,
.btn-link:focus {
    box-shadow: 0 0 0 0.25rem var(--main-light-color);
}

.btn-alternate {
    background-color: var(--alternate-color);
}

.btn-alternate:focus,
.btn-alternate-outline:focus {
    box-shadow: 0 0 0 0.25rem var(--alternate-light-color);
}

.btn-confirm {
    background-color: var(--confirm-color);
}

.btn-confirm:focus,
.btn-confirm-outline:focus {
    box-shadow: 0 0 0 0.25rem var(--confirm-light-color);
}

.btn-attention {
    background-color: var(--attention-color);
}

.btn-attention:focus,
.btn-attention-outline:focus {
    box-shadow: 0 0 0 0.25rem var(--attention-light-color);
}

.btn-cancel {
    background-color: var(--cancel-color);
}

.btn-cancel:focus,
.btn-cancel-outline:focus {
    box-shadow: 0 0 0 0.25rem var(--cancel-light-color);
}

.btn-white {
    background-color: white;
    color: var(--dark-color);
}

.btn-white:focus {
    box-shadow: 0 0 0 0.25rem var(--light-color);
}

.btn-light:focus,
.btn-dark:focus,
.btn-black:focus {
    box-shadow: 0 0 0 0.25rem var(--neutral-color);
}

.btn-light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.btn-black {
    background-color: black;
}

.btn-link {
    background-color: rgb(255, 255, 255, 0.2);
    color: var(--main-color);
    text-decoration: underline;
    box-shadow: 0px 0px 0px 0px #fff;
}

.btn-main-light:focus {
    box-shadow: 0 0 0 0.25rem var(--main-lighter-color);
}

.btn-main-light {
    background-color: var(--main-light-color);
    color: var(--main-color);
}

.btn-alternate-light:focus {
    box-shadow: 0 0 0 0.25rem var(--alternate-lighter-color);
}

.btn-alternate-light {
    background-color: var(--alternate-light-color);
    color: var(--alternate-color);
}

.btn-confirm-light:focus {
    box-shadow: 0 0 0 0.25rem var(--confirm-lighter-color);
}

.btn-confirm-light {
    background-color: var(--confirm-light-color);
    color: var(--confirm-color);
}

.btn-attention-light:focus {
    box-shadow: 0 0 0 0.25rem var(--attention-lighter-color);
}

.btn-attention-light {
    background-color: var(--attention-light-color);
    color: var(--attention-color);
}

.btn-cancel-light:focus {
    box-shadow: 0 0 0 0.25rem var(--cancel-lighter-color);
}

.btn-cancel-light {
    background-color: var(--cancel-light-color);
    color: var(--cancel-color);
}

.btn-main-outline {
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.btn-alternate-outline {
    background-color: white;
    color: var(--alternate-color);
    border: 1px solid var(--alternate-color);
}

.btn-confirm-outline {
    background-color: white;
    color: var(--confirm-color);
    border: 1px solid var(--confirm-color);
}

.btn-attention-outline {
    background-color: white;
    color: var(--attention-color);
    border: 1px solid var(--attention-color);
}

.btn-cancel-outline {
    background-color: white;
    color: var(--cancel-color);
    border: 1px solid var(--cancel-color);
}

.btn-block {
    width: 100%;
}

.btn-s {
    font-size: .65rem;
}

.btn-l {
    font-size: 1.25rem;
}

.btn-xl {
    font-size: 1.5rem;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: var(--light-color);
}

.navbar>a {
    color: black !important;
}

.navbar>a:visited {
    color: black !important;
}

a:-webkit-any-link {
    color: black !important;
    text-decoration: none;
}

.navbar-s {
    height: 10%;
}

.navbar-l {
    height: 25%;
}

.navbar-xl {
    height: 50%;
}

hr {
    margin: 1rem 0;
}